<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PKP-XZ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{141,189}</string>
                <key>spriteSourceSize</key>
                <string>{143,191}</string>
                <key>textureRect</key>
                <string>{{1,1},{141,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PZ-hei-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,45}</string>
                <key>spriteSourceSize</key>
                <string>{37,53}</string>
                <key>textureRect</key>
                <string>{{367,383},{37,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PZ-hei-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{54,47}</string>
                <key>spriteSourceSize</key>
                <string>{70,53}</string>
                <key>textureRect</key>
                <string>{{1,383},{54,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PZ-hei-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,45}</string>
                <key>spriteSourceSize</key>
                <string>{37,53}</string>
                <key>textureRect</key>
                <string>{{291,432},{31,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PZ-hei-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,53}</string>
                <key>textureRect</key>
                <string>{{99,438},{29,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PZ-hei-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,45}</string>
                <key>spriteSourceSize</key>
                <string>{37,53}</string>
                <key>textureRect</key>
                <string>{{338,432},{31,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PZ-hei-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,45}</string>
                <key>spriteSourceSize</key>
                <string>{37,53}</string>
                <key>textureRect</key>
                <string>{{406,383},{31,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PZ-hei-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,53}</string>
                <key>textureRect</key>
                <string>{{148,438},{29,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PZ-hei-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,45}</string>
                <key>spriteSourceSize</key>
                <string>{37,53}</string>
                <key>textureRect</key>
                <string>{{432,430},{31,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PZ-hei-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,53}</string>
                <key>textureRect</key>
                <string>{{177,383},{31,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PZ-hei-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,53}</string>
                <key>textureRect</key>
                <string>{{243,383},{29,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PZ-hei-J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,45}</string>
                <key>spriteSourceSize</key>
                <string>{37,53}</string>
                <key>textureRect</key>
                <string>{{1,439},{27,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PZ-hei-K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,45}</string>
                <key>spriteSourceSize</key>
                <string>{37,53}</string>
                <key>textureRect</key>
                <string>{{197,432},{33,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PZ-hei-Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,53}</string>
                <key>spriteSourceSize</key>
                <string>{37,53}</string>
                <key>textureRect</key>
                <string>{{99,383},{37,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PZ-hon-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,45}</string>
                <key>spriteSourceSize</key>
                <string>{37,53}</string>
                <key>textureRect</key>
                <string>{{385,430},{37,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PZ-hon-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{54,47}</string>
                <key>spriteSourceSize</key>
                <string>{70,53}</string>
                <key>textureRect</key>
                <string>{{50,383},{54,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PZ-hon-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,45}</string>
                <key>spriteSourceSize</key>
                <string>{37,53}</string>
                <key>textureRect</key>
                <string>{{439,383},{31,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PZ-hon-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,53}</string>
                <key>textureRect</key>
                <string>{{274,383},{29,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PZ-hon-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,45}</string>
                <key>spriteSourceSize</key>
                <string>{37,53}</string>
                <key>textureRect</key>
                <string>{{472,383},{31,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PZ-hon-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,45}</string>
                <key>spriteSourceSize</key>
                <string>{37,53}</string>
                <key>textureRect</key>
                <string>{{479,430},{31,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PZ-hon-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,53}</string>
                <key>textureRect</key>
                <string>{{305,383},{29,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PZ-hon-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,45}</string>
                <key>spriteSourceSize</key>
                <string>{37,53}</string>
                <key>textureRect</key>
                <string>{{505,383},{31,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PZ-hon-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,53}</string>
                <key>textureRect</key>
                <string>{{210,383},{31,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PZ-hon-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,53}</string>
                <key>textureRect</key>
                <string>{{336,383},{29,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PZ-hon-J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,45}</string>
                <key>spriteSourceSize</key>
                <string>{37,53}</string>
                <key>textureRect</key>
                <string>{{48,439},{27,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PZ-hon-K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,45}</string>
                <key>spriteSourceSize</key>
                <string>{37,53}</string>
                <key>textureRect</key>
                <string>{{244,432},{33,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PZ-hon-Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,53}</string>
                <key>spriteSourceSize</key>
                <string>{37,53}</string>
                <key>textureRect</key>
                <string>{{138,383},{37,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai-beimian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,189}</string>
                <key>spriteSourceSize</key>
                <string>{137,189}</string>
                <key>textureRect</key>
                <string>{{1,192},{137,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai-dagui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,189}</string>
                <key>spriteSourceSize</key>
                <string>{137,189}</string>
                <key>textureRect</key>
                <string>{{140,192},{137,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai-fankuai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,189}</string>
                <key>spriteSourceSize</key>
                <string>{137,189}</string>
                <key>textureRect</key>
                <string>{{144,1},{137,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai-heitao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,189}</string>
                <key>spriteSourceSize</key>
                <string>{137,189}</string>
                <key>textureRect</key>
                <string>{{279,192},{137,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai-hontao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,189}</string>
                <key>spriteSourceSize</key>
                <string>{137,189}</string>
                <key>textureRect</key>
                <string>{{283,1},{137,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai-meihua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,189}</string>
                <key>spriteSourceSize</key>
                <string>{137,189}</string>
                <key>textureRect</key>
                <string>{{422,1},{137,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai-xiaogui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,189}</string>
                <key>spriteSourceSize</key>
                <string>{137,189}</string>
                <key>textureRect</key>
                <string>{{418,192},{137,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PKPZY.png</string>
            <key>size</key>
            <string>{560,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dff9d1f1872731cbf7b23d160f6620ee:5230ce2906aea82825dfc9994308cff1:c3e25a6ff6b97e3085f9cc9bc43f4e31$</string>
            <key>textureFileName</key>
            <string>PKPZY.png</string>
        </dict>
    </dict>
</plist>
