<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{53,52}</string>
                <key>spriteSourceSize</key>
                <string>{63,62}</string>
                <key>textureRect</key>
                <string>{{1151,1277},{53,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AN-BCXG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,19}</string>
                <key>spriteSize</key>
                <string>{254,81}</string>
                <key>spriteSourceSize</key>
                <string>{444,261}</string>
                <key>textureRect</key>
                <string>{{1744,350},{254,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AN-CC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1863,977},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AN-JXPP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{253,80}</string>
                <key>spriteSourceSize</key>
                <string>{357,126}</string>
                <key>textureRect</key>
                <string>{{1265,1137},{253,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AN-fh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,13}</string>
                <key>spriteSize</key>
                <string>{253,81}</string>
                <key>spriteSourceSize</key>
                <string>{463,169}</string>
                <key>textureRect</key>
                <string>{{1706,723},{253,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AN-jxyx-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{283,110}</string>
                <key>spriteSourceSize</key>
                <string>{509,198}</string>
                <key>textureRect</key>
                <string>{{1828,1},{283,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AN-jxyx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,8}</string>
                <key>spriteSize</key>
                <string>{254,81}</string>
                <key>spriteSourceSize</key>
                <string>{340,149}</string>
                <key>textureRect</key>
                <string>{{1940,1},{254,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AN-qd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{254,81}</string>
                <key>spriteSourceSize</key>
                <string>{352,161}</string>
                <key>textureRect</key>
                <string>{{1292,1003},{254,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AN-qx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,12}</string>
                <key>spriteSize</key>
                <string>{254,81}</string>
                <key>spriteSourceSize</key>
                <string>{756,345}</string>
                <key>textureRect</key>
                <string>{{1009,1115},{254,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AN-tj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{253,81}</string>
                <key>spriteSourceSize</key>
                <string>{411,259}</string>
                <key>textureRect</key>
                <string>{{1265,1219},{253,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AN-xz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,110}</string>
                <key>spriteSourceSize</key>
                <string>{289,116}</string>
                <key>textureRect</key>
                <string>{{1009,1003},{281,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AN-yykg-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,55}</string>
                <key>spriteSourceSize</key>
                <string>{175,55}</string>
                <key>textureRect</key>
                <string>{{1551,1084},{175,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AN-yykg-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,22}</string>
                <key>spriteSize</key>
                <string>{115,60}</string>
                <key>spriteSourceSize</key>
                <string>{451,284}</string>
                <key>textureRect</key>
                <string>{{1744,606},{115,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CK-D-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1021,51}</string>
                <key>spriteSourceSize</key>
                <string>{1021,51}</string>
                <key>textureRect</key>
                <string>{{1,1265},{1021,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK-D-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{733,371}</string>
                <key>spriteSourceSize</key>
                <string>{733,371}</string>
                <key>textureRect</key>
                <string>{{1009,350},{733,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK-D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1006,700}</string>
                <key>spriteSourceSize</key>
                <string>{1006,700}</string>
                <key>textureRect</key>
                <string>{{1,1},{1006,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK-DI-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-5}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{111,115}</string>
                <key>textureRect</key>
                <string>{{1976,1002},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK-DI-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-5}</string>
                <key>spriteSize</key>
                <string>{53,51}</string>
                <key>spriteSourceSize</key>
                <string>{111,115}</string>
                <key>textureRect</key>
                <string>{{1921,977},{53,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK-DI-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-5}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{111,115}</string>
                <key>textureRect</key>
                <string>{{1923,1030},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK-DI-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-4}</string>
                <key>spriteSize</key>
                <string>{51,53}</string>
                <key>spriteSourceSize</key>
                <string>{111,115}</string>
                <key>textureRect</key>
                <string>{{1817,1276},{51,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK-DI-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-4}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{111,115}</string>
                <key>textureRect</key>
                <string>{{1947,1191},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK-DI-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-3}</string>
                <key>spriteSize</key>
                <string>{53,51}</string>
                <key>spriteSourceSize</key>
                <string>{111,115}</string>
                <key>textureRect</key>
                <string>{{1206,1277},{53,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK-DI-07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-4}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{111,115}</string>
                <key>textureRect</key>
                <string>{{1923,1244},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK-DI-08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-4}</string>
                <key>spriteSize</key>
                <string>{51,53}</string>
                <key>spriteSourceSize</key>
                <string>{111,115}</string>
                <key>textureRect</key>
                <string>{{1870,1276},{51,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK-HD-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{19,20}</string>
                <key>spriteSourceSize</key>
                <string>{57,48}</string>
                <key>textureRect</key>
                <string>{{2011,743},{19,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK-HD-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{57,48}</string>
                <key>textureRect</key>
                <string>{{1265,1115},{21,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK-HD-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{57,48}</string>
                <key>textureRect</key>
                <string>{{1954,707},{21,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CK-HD-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{19,20}</string>
                <key>spriteSourceSize</key>
                <string>{57,48}</string>
                <key>textureRect</key>
                <string>{{2011,765},{19,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK-HD-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{57,48}</string>
                <key>textureRect</key>
                <string>{{1828,286},{21,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CK-WDTX-HDT-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,94}</string>
                <key>spriteSourceSize</key>
                <string>{11,94}</string>
                <key>textureRect</key>
                <string>{{908,1216},{11,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CK-WDTX-HDT-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,312}</string>
                <key>spriteSourceSize</key>
                <string>{11,312}</string>
                <key>textureRect</key>
                <string>{{464,1318},{11,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DRJE-HDT-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,28}</string>
                <key>spriteSourceSize</key>
                <string>{250,28}</string>
                <key>textureRect</key>
                <string>{{1827,350},{250,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DRJE-HDT-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{654,28}</string>
                <key>spriteSourceSize</key>
                <string>{654,28}</string>
                <key>textureRect</key>
                <string>{{1009,973},{654,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DRJE-HDT-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,35}</string>
                <key>spriteSourceSize</key>
                <string>{118,35}</string>
                <key>textureRect</key>
                <string>{{788,1216},{118,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DRJE-JB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,48}</string>
                <key>spriteSourceSize</key>
                <string>{55,48}</string>
                <key>textureRect</key>
                <string>{{1890,1191},{55,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DRJE-ZD-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{1940,257},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DRJE-ZD-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{1727,1283},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HEIDI.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{55,33}</string>
                <key>spriteSourceSize</key>
                <string>{73,47}</string>
                <key>textureRect</key>
                <string>{{908,1229},{55,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>K-bz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-31}</string>
                <key>spriteSize</key>
                <string>{257,49}</string>
                <key>spriteSourceSize</key>
                <string>{569,145}</string>
                <key>textureRect</key>
                <string>{{1292,1086},{257,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>K-bz2-00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{46,40}</string>
                <key>textureRect</key>
                <string>{{1806,707},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>K-bz2-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{46,40}</string>
                <key>textureRect</key>
                <string>{{1822,707},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>K-bz2-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{46,40}</string>
                <key>textureRect</key>
                <string>{{1838,707},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>K-bz2-03..png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{46,40}</string>
                <key>textureRect</key>
                <string>{{1710,1062},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>K-bz2-04..png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{46,40}</string>
                <key>textureRect</key>
                <string>{{1863,1035},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>K-tc-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{817,347}</string>
                <key>spriteSourceSize</key>
                <string>{883,455}</string>
                <key>textureRect</key>
                <string>{{1009,1},{817,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TC-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{219,511}</string>
                <key>spriteSourceSize</key>
                <string>{353,621}</string>
                <key>textureRect</key>
                <string>{{788,703},{219,511}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TC-bz-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,10}</string>
                <key>spriteSize</key>
                <string>{125,52}</string>
                <key>spriteSourceSize</key>
                <string>{357,178}</string>
                <key>textureRect</key>
                <string>{{1024,1277},{125,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TC-bz-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,11}</string>
                <key>spriteSize</key>
                <string>{156,83}</string>
                <key>spriteSourceSize</key>
                <string>{392,213}</string>
                <key>textureRect</key>
                <string>{{1857,531},{156,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TC-fk-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,7}</string>
                <key>spriteSize</key>
                <string>{131,50}</string>
                <key>spriteSourceSize</key>
                <string>{357,178}</string>
                <key>textureRect</key>
                <string>{{1976,869},{131,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TC-fk-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,9}</string>
                <key>spriteSize</key>
                <string>{160,79}</string>
                <key>spriteSourceSize</key>
                <string>{392,213}</string>
                <key>textureRect</key>
                <string>{{1548,1003},{160,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TC-jl-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,13}</string>
                <key>spriteSize</key>
                <string>{125,54}</string>
                <key>spriteSourceSize</key>
                <string>{357,178}</string>
                <key>textureRect</key>
                <string>{{1976,616},{125,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TC-jl-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,13}</string>
                <key>spriteSize</key>
                <string>{156,85}</string>
                <key>spriteSourceSize</key>
                <string>{392,213}</string>
                <key>textureRect</key>
                <string>{{1520,1141},{156,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TC-px-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,7}</string>
                <key>spriteSize</key>
                <string>{135,60}</string>
                <key>spriteSourceSize</key>
                <string>{357,178}</string>
                <key>textureRect</key>
                <string>{{1680,1221},{135,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TC-px-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,8}</string>
                <key>spriteSize</key>
                <string>{164,89}</string>
                <key>spriteSourceSize</key>
                <string>{392,213}</string>
                <key>textureRect</key>
                <string>{{1806,616},{164,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TC-sz-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,14}</string>
                <key>spriteSize</key>
                <string>{133,57}</string>
                <key>spriteSourceSize</key>
                <string>{383,189}</string>
                <key>textureRect</key>
                <string>{{1831,1141},{133,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TC-sz-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,14}</string>
                <key>spriteSize</key>
                <string>{160,84}</string>
                <key>spriteSourceSize</key>
                <string>{418,224}</string>
                <key>textureRect</key>
                <string>{{1868,707},{160,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TC-tc-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,14}</string>
                <key>spriteSize</key>
                <string>{124,55}</string>
                <key>spriteSourceSize</key>
                <string>{366,151}</string>
                <key>textureRect</key>
                <string>{{1954,743},{124,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TC-tc-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,15}</string>
                <key>spriteSize</key>
                <string>{151,82}</string>
                <key>spriteSourceSize</key>
                <string>{401,186}</string>
                <key>textureRect</key>
                <string>{{1710,978},{151,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TC-ts-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,40}</string>
                <key>spriteSize</key>
                <string>{616,248}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1009,723},{616,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TC-ts-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{785,560}</string>
                <key>spriteSourceSize</key>
                <string>{785,560}</string>
                <key>textureRect</key>
                <string>{{1,703},{785,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YY-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1680,1283},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YY-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,11}</string>
                <key>spriteSourceSize</key>
                <string>{234,11}</string>
                <key>textureRect</key>
                <string>{{778,1318},{234,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YY-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{461,11}</string>
                <key>spriteSourceSize</key>
                <string>{461,11}</string>
                <key>textureRect</key>
                <string>{{1,1318},{461,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ZHI-bz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{158,77}</string>
                <key>spriteSourceSize</key>
                <string>{158,87}</string>
                <key>textureRect</key>
                <string>{{1520,1228},{158,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ZHI-drje.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{239,77}</string>
                <key>spriteSourceSize</key>
                <string>{239,87}</string>
                <key>textureRect</key>
                <string>{{1024,1198},{239,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ZHI-l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{965,1229},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ZHI-pjjl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{243,77}</string>
                <key>spriteSourceSize</key>
                <string>{243,87}</string>
                <key>textureRect</key>
                <string>{{1627,723},{243,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ZHI-pxbs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{243,77}</string>
                <key>spriteSourceSize</key>
                <string>{243,87}</string>
                <key>textureRect</key>
                <string>{{1857,286},{243,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ZHI-sz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{158,77}</string>
                <key>spriteSourceSize</key>
                <string>{158,87}</string>
                <key>textureRect</key>
                <string>{{1728,1062},{158,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ZHI-ts.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{151,78}</string>
                <key>spriteSourceSize</key>
                <string>{211,138}</string>
                <key>textureRect</key>
                <string>{{1678,1141},{151,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ZHI-wdtx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{243,77}</string>
                <key>spriteSourceSize</key>
                <string>{243,87}</string>
                <key>textureRect</key>
                <string>{{1936,286},{243,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ZHI-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,2}</string>
                <key>spriteSourceSize</key>
                <string>{210,2}</string>
                <key>textureRect</key>
                <string>{{2023,1},{210,2}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ZHI-yjfk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{243,77}</string>
                <key>spriteSourceSize</key>
                <string>{243,87}</string>
                <key>textureRect</key>
                <string>{{1789,723},{243,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anniu-XL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{1868,869},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu-fanhui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{1890,1083},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TCZY.png</string>
            <key>size</key>
            <string>{2031,1330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b845779385e18962b4baf5016c9f413:14eafd6621b832f296f2b65c377f34e2:07fe082b4d2f7db82460c753c0ddd086$</string>
            <key>textureFileName</key>
            <string>TCZY.png</string>
        </dict>
    </dict>
</plist>
