<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AN-1B-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,1}</string>
                <key>spriteSize</key>
                <string>{173,81}</string>
                <key>spriteSourceSize</key>
                <string>{271,175}</string>
                <key>textureRect</key>
                <string>{{1331,1143},{173,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AN-1B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-1}</string>
                <key>spriteSize</key>
                <string>{174,80}</string>
                <key>spriteSourceSize</key>
                <string>{268,160}</string>
                <key>textureRect</key>
                <string>{{803,1144},{174,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AN-BS-xz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,110}</string>
                <key>spriteSourceSize</key>
                <string>{209,116}</string>
                <key>textureRect</key>
                <string>{{1754,764},{201,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AN-ZHI-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{84,43}</string>
                <key>textureRect</key>
                <string>{{1992,1038},{32,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AN-ZHI-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-1}</string>
                <key>spriteSize</key>
                <string>{18,31}</string>
                <key>spriteSourceSize</key>
                <string>{84,43}</string>
                <key>textureRect</key>
                <string>{{2003,333},{18,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AN-ZHI-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{30,31}</string>
                <key>spriteSourceSize</key>
                <string>{84,43}</string>
                <key>textureRect</key>
                <string>{{553,1156},{30,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AN-ZHI-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{28,31}</string>
                <key>spriteSourceSize</key>
                <string>{84,43}</string>
                <key>textureRect</key>
                <string>{{1788,1090},{28,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AN-ZHI-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{34,33}</string>
                <key>spriteSourceSize</key>
                <string>{84,43}</string>
                <key>textureRect</key>
                <string>{{1466,1009},{34,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AN-ZHI-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{84,43}</string>
                <key>textureRect</key>
                <string>{{1992,1072},{32,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AN-ZHI-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{84,43}</string>
                <key>textureRect</key>
                <string>{{1992,1106},{32,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AN-ZHI-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{84,43}</string>
                <key>textureRect</key>
                <string>{{1992,1140},{32,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AN-ZHI-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{84,43}</string>
                <key>textureRect</key>
                <string>{{1958,1164},{32,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AN-ZHI-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{84,43}</string>
                <key>textureRect</key>
                <string>{{1992,1174},{32,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AN-ZHI-bei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{44,43}</string>
                <key>spriteSourceSize</key>
                <string>{76,43}</string>
                <key>textureRect</key>
                <string>{{1978,49},{44,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AN-bq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,78}</string>
                <key>spriteSourceSize</key>
                <string>{171,78}</string>
                <key>textureRect</key>
                <string>{{1744,876},{171,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AN-mn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,22}</string>
                <key>spriteSize</key>
                <string>{174,80}</string>
                <key>spriteSourceSize</key>
                <string>{494,396}</string>
                <key>textureRect</key>
                <string>{{979,1144},{174,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AN-yn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{174,81}</string>
                <key>spriteSourceSize</key>
                <string>{552,309}</string>
                <key>textureRect</key>
                <string>{{1155,1143},{174,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DDK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{581,70}</string>
                <key>spriteSourceSize</key>
                <string>{587,70}</string>
                <key>textureRect</key>
                <string>{{1,900},{581,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DXK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{811,80}</string>
                <key>spriteSourceSize</key>
                <string>{813,82}</string>
                <key>textureRect</key>
                <string>{{1,818},{811,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FPQ-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,223}</string>
                <key>spriteSourceSize</key>
                <string>{288,223}</string>
                <key>textureRect</key>
                <string>{{1753,1},{288,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FPQ-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,159}</string>
                <key>spriteSourceSize</key>
                <string>{196,159}</string>
                <key>textureRect</key>
                <string>{{1753,291},{196,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,100}</string>
                <key>spriteSourceSize</key>
                <string>{115,100}</string>
                <key>textureRect</key>
                <string>{{1917,876},{115,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,88}</string>
                <key>spriteSourceSize</key>
                <string>{103,88}</string>
                <key>textureRect</key>
                <string>{{313,1119},{103,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JSK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{669,91}</string>
                <key>spriteSourceSize</key>
                <string>{669,91}</string>
                <key>textureRect</key>
                <string>{{1511,1},{669,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JSQ-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{168,156}</string>
                <key>textureRect</key>
                <string>{{1600,800},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>N-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-10}</string>
                <key>spriteSize</key>
                <string>{310,107}</string>
                <key>spriteSourceSize</key>
                <string>{792,403}</string>
                <key>textureRect</key>
                <string>{{814,818},{310,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>N-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-10}</string>
                <key>spriteSize</key>
                <string>{310,107}</string>
                <key>spriteSourceSize</key>
                <string>{792,403}</string>
                <key>textureRect</key>
                <string>{{1126,818},{310,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>N-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-10}</string>
                <key>spriteSize</key>
                <string>{310,107}</string>
                <key>spriteSourceSize</key>
                <string>{792,403}</string>
                <key>textureRect</key>
                <string>{{1754,452},{310,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>N-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-10}</string>
                <key>spriteSize</key>
                <string>{310,107}</string>
                <key>spriteSourceSize</key>
                <string>{792,403}</string>
                <key>textureRect</key>
                <string>{{1863,452},{310,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>N-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-10}</string>
                <key>spriteSize</key>
                <string>{310,107}</string>
                <key>spriteSourceSize</key>
                <string>{792,403}</string>
                <key>textureRect</key>
                <string>{{585,900},{310,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>N-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-10}</string>
                <key>spriteSize</key>
                <string>{310,107}</string>
                <key>spriteSourceSize</key>
                <string>{792,403}</string>
                <key>textureRect</key>
                <string>{{694,900},{310,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>N-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-18}</string>
                <key>spriteSize</key>
                <string>{310,106}</string>
                <key>spriteSourceSize</key>
                <string>{392,190}</string>
                <key>textureRect</key>
                <string>{{803,1036},{310,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>N-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-18}</string>
                <key>spriteSize</key>
                <string>{310,106}</string>
                <key>spriteSourceSize</key>
                <string>{392,190}</string>
                <key>textureRect</key>
                <string>{{1115,927},{310,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>N-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-18}</string>
                <key>spriteSize</key>
                <string>{310,106}</string>
                <key>spriteSourceSize</key>
                <string>{392,190}</string>
                <key>textureRect</key>
                <string>{{1115,1035},{310,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>N-mn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-7}</string>
                <key>spriteSize</key>
                <string>{310,107}</string>
                <key>spriteSourceSize</key>
                <string>{712,329}</string>
                <key>textureRect</key>
                <string>{{803,927},{310,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>N-nn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,2}</string>
                <key>spriteSize</key>
                <string>{310,87}</string>
                <key>spriteSourceSize</key>
                <string>{704,329}</string>
                <key>textureRect</key>
                <string>{{1,1119},{310,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>N-shn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,2}</string>
                <key>spriteSize</key>
                <string>{310,87}</string>
                <key>spriteSourceSize</key>
                <string>{704,329}</string>
                <key>textureRect</key>
                <string>{{1511,672},{310,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>N-sz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,2}</string>
                <key>spriteSize</key>
                <string>{310,87}</string>
                <key>spriteSourceSize</key>
                <string>{704,329}</string>
                <key>textureRect</key>
                <string>{{1600,956},{310,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>N-whn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,2}</string>
                <key>spriteSize</key>
                <string>{310,87}</string>
                <key>spriteSourceSize</key>
                <string>{704,329}</string>
                <key>textureRect</key>
                <string>{{1427,1045},{310,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>N-wxn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,2}</string>
                <key>spriteSize</key>
                <string>{310,87}</string>
                <key>spriteSourceSize</key>
                <string>{704,329}</string>
                <key>textureRect</key>
                <string>{{1506,1134},{310,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Q-ZHI-b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,0}</string>
                <key>spriteSize</key>
                <string>{54,53}</string>
                <key>spriteSourceSize</key>
                <string>{138,53}</string>
                <key>textureRect</key>
                <string>{{1438,818},{54,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Q-ZHI-q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{54,53}</string>
                <key>spriteSourceSize</key>
                <string>{138,53}</string>
                <key>textureRect</key>
                <string>{{1438,873},{54,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TC-pxbs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,14}</string>
                <key>spriteSize</key>
                <string>{815,1508}</string>
                <key>spriteSourceSize</key>
                <string>{1007,1536}</string>
                <key>textureRect</key>
                <string>{{1,1},{815,1508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,50}</string>
                <key>spriteSourceSize</key>
                <string>{159,50}</string>
                <key>textureRect</key>
                <string>{{1951,291},{159,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WJTX-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{492,147}</string>
                <key>spriteSourceSize</key>
                <string>{998,455}</string>
                <key>textureRect</key>
                <string>{{1604,1},{492,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WJTX-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,19}</string>
                <key>spriteSize</key>
                <string>{148,303}</string>
                <key>spriteSourceSize</key>
                <string>{268,623}</string>
                <key>textureRect</key>
                <string>{{1604,495},{148,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,0}</string>
                <key>spriteSize</key>
                <string>{422,145}</string>
                <key>spriteSourceSize</key>
                <string>{490,145}</string>
                <key>textureRect</key>
                <string>{{1,972},{422,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{129,129}</string>
                <key>textureRect</key>
                <string>{{1818,1045},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>X-ZHI-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{133,47}</string>
                <key>textureRect</key>
                <string>{{1972,662},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>X-ZHI-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{23,37}</string>
                <key>spriteSourceSize</key>
                <string>{133,47}</string>
                <key>textureRect</key>
                <string>{{2000,993},{23,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>X-ZHI-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{35,37}</string>
                <key>spriteSourceSize</key>
                <string>{133,47}</string>
                <key>textureRect</key>
                <string>{{1466,970},{35,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>X-ZHI-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{33,37}</string>
                <key>spriteSourceSize</key>
                <string>{133,47}</string>
                <key>textureRect</key>
                <string>{{1972,740},{33,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>X-ZHI-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{39,37}</string>
                <key>spriteSourceSize</key>
                <string>{133,47}</string>
                <key>textureRect</key>
                <string>{{1972,621},{39,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>X-ZHI-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{133,47}</string>
                <key>textureRect</key>
                <string>{{1972,701},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>X-ZHI-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{133,47}</string>
                <key>textureRect</key>
                <string>{{1427,928},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>X-ZHI-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{133,47}</string>
                <key>textureRect</key>
                <string>{{1427,967},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>X-ZHI-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{133,47}</string>
                <key>textureRect</key>
                <string>{{1427,1006},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>X-ZHI-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{133,47}</string>
                <key>textureRect</key>
                <string>{{1957,775},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>X-ZHI-B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{135,47}</string>
                <key>textureRect</key>
                <string>{{1818,1176},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>X-ZHI-XIA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{133,47}</string>
                <key>textureRect</key>
                <string>{{1867,1176},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Z-JIA-+.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{146,83}</string>
                <key>textureRect</key>
                <string>{{1957,814},{36,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Z-JIA-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,6}</string>
                <key>spriteSize</key>
                <string>{42,43}</string>
                <key>spriteSourceSize</key>
                <string>{146,83}</string>
                <key>textureRect</key>
                <string>{{1978,95},{42,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Z-JIA-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{28,43}</string>
                <key>spriteSourceSize</key>
                <string>{146,83}</string>
                <key>textureRect</key>
                <string>{{1788,1045},{28,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Z-JIA-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{40,43}</string>
                <key>spriteSourceSize</key>
                <string>{146,83}</string>
                <key>textureRect</key>
                <string>{{463,1156},{40,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Z-JIA-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{38,43}</string>
                <key>spriteSourceSize</key>
                <string>{146,83}</string>
                <key>textureRect</key>
                <string>{{508,1156},{38,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Z-JIA-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{46,43}</string>
                <key>spriteSourceSize</key>
                <string>{146,83}</string>
                <key>textureRect</key>
                <string>{{1978,1},{46,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Z-JIA-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{42,43}</string>
                <key>spriteSourceSize</key>
                <string>{146,83}</string>
                <key>textureRect</key>
                <string>{{1978,140},{42,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Z-JIA-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{42,43}</string>
                <key>spriteSourceSize</key>
                <string>{146,83}</string>
                <key>textureRect</key>
                <string>{{1978,185},{42,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Z-JIA-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{42,43}</string>
                <key>spriteSourceSize</key>
                <string>{146,83}</string>
                <key>textureRect</key>
                <string>{{1978,230},{42,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Z-JIA-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{42,43}</string>
                <key>spriteSourceSize</key>
                <string>{146,83}</string>
                <key>textureRect</key>
                <string>{{1912,993},{42,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Z-JIA-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{42,43}</string>
                <key>spriteSourceSize</key>
                <string>{146,83}</string>
                <key>textureRect</key>
                <string>{{1956,993},{42,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Z-JIA-d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-5}</string>
                <key>spriteSize</key>
                <string>{24,21}</string>
                <key>spriteSourceSize</key>
                <string>{146,83}</string>
                <key>textureRect</key>
                <string>{{418,1200},{24,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Z-JIAN--.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{33,20}</string>
                <key>spriteSourceSize</key>
                <string>{141,76}</string>
                <key>textureRect</key>
                <string>{{2003,275},{33,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Z-JIAN-..png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-4}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{141,76}</string>
                <key>textureRect</key>
                <string>{{2003,310},{21,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Z-JIAN-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{41,40}</string>
                <key>spriteSourceSize</key>
                <string>{141,76}</string>
                <key>textureRect</key>
                <string>{{1949,1038},{41,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Z-JIAN-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,6}</string>
                <key>spriteSize</key>
                <string>{27,40}</string>
                <key>spriteSourceSize</key>
                <string>{141,76}</string>
                <key>textureRect</key>
                <string>{{1466,928},{27,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Z-JIAN-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,6}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{141,76}</string>
                <key>textureRect</key>
                <string>{{1972,495},{39,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Z-JIAN-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,6}</string>
                <key>spriteSize</key>
                <string>{37,40}</string>
                <key>spriteSourceSize</key>
                <string>{141,76}</string>
                <key>textureRect</key>
                <string>{{1972,579},{37,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Z-JIAN-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,7}</string>
                <key>spriteSize</key>
                <string>{43,42}</string>
                <key>spriteSourceSize</key>
                <string>{141,76}</string>
                <key>textureRect</key>
                <string>{{418,1156},{43,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Z-JIAN-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{41,40}</string>
                <key>spriteSourceSize</key>
                <string>{141,76}</string>
                <key>textureRect</key>
                <string>{{1949,1080},{41,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Z-JIAN-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{41,40}</string>
                <key>spriteSourceSize</key>
                <string>{141,76}</string>
                <key>textureRect</key>
                <string>{{1949,1122},{41,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Z-JIAN-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{141,76}</string>
                <key>textureRect</key>
                <string>{{1972,537},{39,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Z-JIAN-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{41,40}</string>
                <key>spriteSourceSize</key>
                <string>{141,76}</string>
                <key>textureRect</key>
                <string>{{1916,1176},{41,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Z-JIAN-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{41,40}</string>
                <key>spriteSourceSize</key>
                <string>{141,76}</string>
                <key>textureRect</key>
                <string>{{1972,452},{41,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Z-bq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,47}</string>
                <key>spriteSourceSize</key>
                <string>{87,47}</string>
                <key>textureRect</key>
                <string>{{1739,1045},{87,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ZJTX-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{158,182}</string>
                <key>spriteSourceSize</key>
                <string>{162,186}</string>
                <key>textureRect</key>
                <string>{{425,972},{158,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>QZNN-ZY.png</string>
            <key>size</key>
            <string>{2024,1225}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15bd61da32a84496291a687278f345a6:54b6beedf03748f6c22feae80659d05d:cc3911a0ad7d2780eff3da76205ab322$</string>
            <key>textureFileName</key>
            <string>QZNN-ZY.png</string>
        </dict>
    </dict>
</plist>
