*{
    margin:0 0;
    padding:0 0;
    box-sizing: border-box;
}
html{
    height:100%;
    width:100%; 
}
body{
    width: 100%;
    height: 100%;
}
#app{
    height:100%;
    width:100%; 
}
.main{
    height:100%;
    width:100%;
}
.row{
    font-size: 0;
}
.col{
    display:inline-block;
    font-size: 12px;
    overflow:hidden;
}

.page{
    height:100%;
    width:100%; 
    display:none;
    text-align:center;
    padding:10px 10px;
}
#showPanel{
    border-right:2px solid #333;
    overflow-y:auto; 
}
h3{
    margin:10px 10px ;
}
.actionBar{
    padding:10px 10px;
    text-align:center;
}
.actionBar .action{
    margin-right:8px;
}
button{
    padding:5px 5px ;
    background-color:aliceblue;
    border:1px solid #ddd;
    cursor:pointer;
    border-radius:3px;
}
.page.active{
    display:block;
}
.info{
    padding:10px 10px;
    line-height:1.5;
    font-size:14px;
    text-align: left;
}
span.key{
    color:blue;
}
span.time{
    color:red;
    margin-right:10px;
}