<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DT-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{199,-13}</string>
                <key>spriteSize</key>
                <string>{1924,589}</string>
                <key>spriteSourceSize</key>
                <string>{4050,2013}</string>
                <key>textureRect</key>
                <string>{{1,1},{1924,589}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DT-FJ-CJ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-3}</string>
                <key>spriteSize</key>
                <string>{503,397}</string>
                <key>spriteSourceSize</key>
                <string>{693,609}</string>
                <key>textureRect</key>
                <string>{{1,992},{503,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DT-FJ-GJ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-5}</string>
                <key>spriteSize</key>
                <string>{503,398}</string>
                <key>spriteSourceSize</key>
                <string>{583,592}</string>
                <key>textureRect</key>
                <string>{{1,592},{503,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DT-FJ-JT-01-a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,0}</string>
                <key>spriteSize</key>
                <string>{43,66}</string>
                <key>spriteSourceSize</key>
                <string>{181,96}</string>
                <key>textureRect</key>
                <string>{{1838,592},{43,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DT-FJ-JT-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,1}</string>
                <key>spriteSize</key>
                <string>{43,66}</string>
                <key>spriteSourceSize</key>
                <string>{181,96}</string>
                <key>textureRect</key>
                <string>{{906,1230},{43,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DT-FJ-JT-02-a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{37,56}</string>
                <key>spriteSourceSize</key>
                <string>{181,96}</string>
                <key>textureRect</key>
                <string>{{1883,592},{37,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DT-FJ-JT-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{37,58}</string>
                <key>spriteSourceSize</key>
                <string>{181,96}</string>
                <key>textureRect</key>
                <string>{{1838,660},{37,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DT-FJ-JT-03-a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,1}</string>
                <key>spriteSize</key>
                <string>{33,48}</string>
                <key>spriteSourceSize</key>
                <string>{181,96}</string>
                <key>textureRect</key>
                <string>{{906,1298},{33,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DT-FJ-JT-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,1}</string>
                <key>spriteSize</key>
                <string>{33,48}</string>
                <key>spriteSourceSize</key>
                <string>{181,96}</string>
                <key>textureRect</key>
                <string>{{1838,720},{33,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DT-FJ-XS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-14}</string>
                <key>spriteSize</key>
                <string>{397,398}</string>
                <key>spriteSourceSize</key>
                <string>{755,654}</string>
                <key>textureRect</key>
                <string>{{1438,592},{397,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DT-FJ-XZ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{426,426}</string>
                <key>spriteSourceSize</key>
                <string>{432,430}</string>
                <key>textureRect</key>
                <string>{{1010,592},{426,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DT-FJ-ZJ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,-11}</string>
                <key>spriteSize</key>
                <string>{502,398}</string>
                <key>spriteSourceSize</key>
                <string>{632,616}</string>
                <key>textureRect</key>
                <string>{{506,592},{502,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DT-FJ-ZZ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,22}</string>
                <key>spriteSize</key>
                <string>{398,397}</string>
                <key>spriteSourceSize</key>
                <string>{632,557}</string>
                <key>textureRect</key>
                <string>{{506,992},{398,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ZHI-DT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{236,77}</string>
                <key>spriteSourceSize</key>
                <string>{306,87}</string>
                <key>textureRect</key>
                <string>{{906,992},{236,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>QZNN-DT-ZY.png</string>
            <key>size</key>
            <string>{1926,1390}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:926baa8b288f3b93fe438398bbb7713b:cab3a419bceb5e70e4c734a78a4a6b2f:e441a16dc3471dd397b5d9077aac5782$</string>
            <key>textureFileName</key>
            <string>QZNN-DT-ZY.png</string>
        </dict>
    </dict>
</plist>
